<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MensajesUniNorte</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet"
    href="https://adminlte.io/themes/v3/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/jqvmap/jqvmap.min.css">
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/summernote/summernote-bs4.min.css">

  <!-- plantilla -->
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="static/css/style.css">

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>

  <!-- Agregar Fontawesome - Iconos para Pagina -->
  <script src="https://kit.fontawesome.com/b6eb889ff5.js" crossorigin="anonymous"></script>

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>
  
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-mailchimp'></i>
        <div class="logo_name">MexNorte</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav list-unstyled components">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li class="nav-item">
        <a class= 'nav-item' href="#tab_1" data-toggle="tab">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li class="nav-item">
       <a class= 'nav-item' href="#tab_2" onclick="verHistorial()" data-toggle="tab">
         <i class='fa-regular fa-paper-plane mr-1' ></i>
         <span class="links_name">Enviados</span>
       </a>
       <span class="tooltip">Enviados</span>
     </li class="nav-item">
     <li>
       <a class= 'nav-item' href="#tab_4" onclick="verRecibidos()" data-toggle="tab">
        <i class='bx bxs-inbox'></i>
         <span class="links_name">Recibidos</span>
       </a>
       <span class="tooltip">Recibidos</span>
     </li>
     <li>
       <a class= 'nav-item' href="#tab_3" data-toggle="tab">
         <i class='bx bxs-key' ></i>
         <span class="links_name">Contraseña</span>
       </a>
       <span class="tooltip">Contraseña</span>
     </li>

     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Settings</span>
       </a>
       <span class="tooltip">Settings</span>
     </li>
     <li class="profile" >
      <a href="/cerrarSesion">
        <div class="profile-details">
          <img src="static/images/profile.jpg" alt="profileImg">
          <div class="name_job">
            <div class="name">{{usuario}}</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out" ></i>
      </a>
     </li>
    </ul>
  </div>






    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#"> <i class="fa-solid fa-user"></i> {{usuario}}</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

      <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
          <img class="animation__shake" src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTELogo"
            height="60" width="60">
        </div>
    
      </div>

      <section class="container">
        <div class="container-fluid">
          <div class="container alert alert-info">
            
            <h2><center>Mensajería Electrónica</center></h2>
          </div>

          <div class=" row">
            <div class="col">
              <!-- Custom Tabs -->
              <div class="card">
                <div class="card-header d-flex p-0">
                  <h3 class="card-title p-3"></h3>
                    <!-- Agregar boton de cerrar sesion -->
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <!-- Gestion de Envio -->
                    <div class="tab-pane active" id="tab_1">

                      <!-- Utilizar la tecnica ajax -->
                      <form onsubmit="return enviarMail()">
                        <!-- Asunto -->
                        <input required id="txtAsunto" name="txtAsunto" class="form-control" type="text"
                          placeholder="Asunto:" max="5">
                        <!-- Separación de linea hr -->
                        <hr>
                        <!-- Coloco la info de la BD - Con Jinja 2-->
                        <!-- Unicamente para las opciones del select - Required se debe seleccionar una opción -->
                        <select required class="form-control" name="sl_destino" id="sl_destino">
                          <option value="">Seleccione destinatario...</option>
                          {% for m in datas %}
                          <!-- Llamar los datos de la cabecera especifica - Value:vacio para que toda la info venga de la BD -->
                          <option value="{{ m['correo']}}">
                            <!--{{ m['userName'] +" --- " + m['correo']}}-->
                            {{ m['userName'] }}
                          </option>
                          {% endfor %}
                        </select>
                        <hr>
                        <textarea placeholder="Mensaje:" name="txtMensaje" required id="txtMensaje"
                          class="form-control"></textarea>
                        <br>
                        <center><button class="btn btn-success" type="submit">Enviar</button></center>

                      </form>



                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">

                      <!-- Incluir un div - Con una clase row - para distribuir columnas -->
                      <div class="row">
                        <!-- Dividir la pantalla por la mitad de 6 y 6 -->
                        <div class="col-12" id="d_enviados" name="d_enviados">
                          Aqui se visualiza los correos ENVIADOS

                        </div>


                      </div>

                    </div>

                    <div class="tab-pane" id="tab_4">

                      <!-- Incluir un div - Con una clase row - para distribuir columnas -->
                      <div class="row">
                        <!-- Dividir la pantalla por la mitad de 6 y 6 -->

                        <div class="col-12" id="d_recibidos" name="d_recibidos">
                          Aqui se visualiza los correos RECIBIDOS

                        </div>


                      </div>

                    </div>


                    <!-- /.tab-pane - Pestaña para hacer modificación de la contraseña-->
                    <div class="tab-pane" id="tab_3">
                      <center class="alert alert-info">
                        <h3>Cambio de Contraseña</h3>
                      </center>
                      <hr>
                      <form onsubmit="return cambioPassword()">
                        Nueva Contraseña
                        <input type="password" class="form-control" id="txtpass1" name="txtpass1">
                        Confirmar Contraseña
                        <input type="password" class="form-control" id="txtpass2" name="txtpass2">
                        <hr>
                        <button type="submit" class="btn btn-info">Actualizar</button>
                      </form>
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- ./card -->
            </div>
            <!-- /.col -->
          </div>


          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>

      </div>




  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/jquery-ui/jquery-ui.min.js"></script>

  <!-- Bootstrap 4 -->
  <script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/chart.js/Chart.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/sparklines/sparkline.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/jqvmap/jquery.vmap.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/jquery-knob/jquery.knob.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/moment/moment.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/daterangepicker/daterangepicker.js"></script>
  <script
    src="https://adminlte.io/themes/v3/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/summernote/summernote-bs4.min.js"></script>
  <script src="https://adminlte.io/themes/v3/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <script src="https://adminlte.io/themes/v3/dist/js/adminlte.js"></script>
  <script src="https://adminlte.io/themes/v3/dist/js/pages/dashboard.js"></script>


  <script src="static/js/script.js"></script>

  <script>

    function enviarMail() {
      // Procedimiento Ajax  - Recibe el procedimiento - Realizar peticiones a los servidores de forma asincrona sin hacer cambio de pantalla - Cliente
      $.ajax({
        url: 'enviarMail',
        // Importante - Colocar # Para referenciar al ID
        data: 'asunto=' + $("#txtAsunto").val() + "&emailDestino=" + $("#sl_destino").val() + "&mensaje=" + $("#txtMensaje").val(),
        type: 'POST',
        success: function (r) {
          alert(r);
        },
        error: function (xhr, status) {
          alert('Error: Intente en otro momento')
        }
      });

      // No refrescar la pagina
      return false;

    }

    function gestionmenus() {
      $("#titulo").html("Gestion de Menus");

      var info = "<h1>informacion de menus</h1>"
        + "<br>sdfghjkoifgghiojb "
        + "<br><button class='btn btn-info'>Procesar</button>";

      $("#contenido").html(info);


    }


    function verHistorial() {

      // Usando el procedimiento ajax - Historial de enviados
      $.ajax({
        url: 'historialEnviados',
        // Importante - Colocar # Para referenciar al ID
        data: " ",
        type: 'POST',
        success: function (r) {
          r = "<center class='alert alert-info'><strong>Correos Enviados</strong></center>" + r // Completar y especificarlo con etiquetas center/Strong
          $("#d_enviados").html(r);
        },
        error: function (xhr, status) {
          alert('Error: Intente en otro momento')
        }
      });


    }

  function verRecibidos() {

     // Usando el procedimiento ajax - Historial de recibidos - Cambiar el ID correspondiente
      $.ajax({
        url: 'historialRecibidos',
        // Importante - Colocar # Para referenciar al ID
        data: " ",
        type: 'POST',
        success: function (r) {
          r = "<center class='alert alert-info'><strong>Correos Recibidos</strong></center>" + r
          $("#d_recibidos").html(r);
        },
        error: function (xhr, status) {
          alert('Error: Intente en otro momento')
        }
      });

}


    function cambioPassword() {

      // Los ID se colocan con # - Verificar que coincidan las contraseñas
      if ($("#txtpass1").val() == $("#txtpass2").val()) {

        // Usando el procedimiento ajax - Para que se haga directamente en pantalla
        $.ajax({
          url: 'actualizarPassword',
          // Importante - Colocar # Para referenciar al ID - Solo se coloca un password
          data: "passw=" + $("#txtpass1").val(),
          type: 'POST',
          // Funcion que publica mensaje de esa ruta
          success: function (r) {
            alert(r)
          },
          error: function (xhr, status) {
            alert('Error: Intente en otro momento')
          }
        });

      }
      else {
        alert('Error: Las contraseñas NO coinciden!!!');

      }


      return false; // No se reinicie - Para controlar el flujo de info
    }

  </script>

</body>

</html>